# Terraform working files
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform variable values
terraform.tfvars
*.tfvars
*.tfvars.json

# Terraform plans and crash logs
*.tfplan
crash.log
crash.*.log